.ant-carousel {
  width: 95%;
  .slick-slide {
    text-align: center;
    height: 600px;
    width: 100%;
    h3 {
      color: #fff;
    }
    img {
      width: 100%;
      height: 600px;
    }
  }
}
